.profile {
  border: 3px solid black;
  border-radius: 15px;
  text-align: center;
  padding-top: 20px;
  width: 400px;
  margin: auto;
  margin-bottom: 30px;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  background-color: #242424;
  margin: auto;
  margin-bottom: 20px;
}

.name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tag,
.location {
  font-size: 25px;
  color: gray;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid gray;
  margin-top: 20px;
  background-color: ghostwhite;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.statsItem {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-right: 3px solid gray;
  width: 100%;
}

.statsItem:last-child {
  border: none;
}

.label {
  font-size: 22px;
}

.value {
  font-size: 22px;
  font-weight: 700;
}
