.transactionHistory {
  border: 1px solid gray;
  background-color: black;
  color: white;
  text-align: center;
  width: 400px;
  margin: auto;
}

tbody tr:nth-child(odd) {
  background-color: white;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: gainsboro;
  color: black;
}
